@import fonts


body
  background-color: var(--base)
  transition: 1s
  color: var(--text)

@for $i from 1 through 100
  .bg-a1-a#{$i}
    background-color: rgba(var(--base), #{$i})

.bg-a
  background-color: var(--base)


button,
.button
  -webkit-touch-callout: none
  -webkit-user-select: none
  -khtml-user-select: none
  -moz-user-select: none
  -ms-user-select: none
  user-select: none

  border: none
  display: inline-block
  vertical-align: middle
  overflow: hidden
  text-decoration: none
  color: inherit
  text-align: center
  cursor: pointer
  white-space: nowrap

button.b,
.button.b
  background-color: transparent

button.b.fa1,
.button.b.fa1
  border: 1px var(--focus-a1) solid
  background-color: transparent

button.b.fa2,
button.b.fa2
  border: 1px var(--focus-a2) solid
  background-color: transparent

button.b.fb1,
.button.b.fb1
  border: 1px var(--focus-b1) solid
  background-color: transparent

button.b.fb2,
button.b.fb2
  border: 1px var(--focus-b2) solid
  background-color: transparent

button.fa1,
.button.fa1
  background-color: var(--focus-a1)

button.fa2,
.button.fa2
  background-color: var(--focus-a2)

button.fb1,
.button.fb1
  background-color: var(--focus-b1)

button.fb2,
.button.fb2
  background-color: var(--focus-b2)

button.shadow:hover,
.button.shadow:hover
  box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2),0 6px 20px 0 rgba(0,0,0,0.19)

button:hover,
.button:hover
  background-color: rgba(var(--base4), 0.9)
  backdrop-filter: blur(5px)

button:disabled,
.button:disabled
  cursor: not-allowed
  opacity: 0.3
  filter: grayscale(4)

.themeswitch-button
  width: 50px
  height: 50px

/* width */
::-webkit-scrollbar
  width: 3px

::-webkit-scrollbar-track
  transition: 0.1s
  background: #0000

::-webkit-scrollbar-thumb
  transition: 0.1s
  background: var(--base10)
  width: 3px%


::-webkit-scrollbar-track:hover
  width: 10px
  ::-webkit-scrollbar-thumb
    border-radius: 5px
    width: 10px

